.halu-body
{
    text-align: center;
    background-color: darksalmon;
    margin: 50px;
    padding: 10px;
}

/* Section Nama dan Tombol dkk. */


.halu-h1
{
    background-color: blue;
    text-align: left;
    padding-left: 20px;
}

.section1
{
    background-color: aquamarine;
}

.section2
{
    background-color: blueviolet;
}

.section3
{
    background-color: cadetblue;
}

.section4
{
    background-color: cyan;
}