.halu-body
{
    text-align: center;
    background-color: #E2F1E7;
    margin: auto;
    padding: auto;
}

/* Section Nama dan Tombol dkk. */


.halu-h1
{
    background-color: #629584;
    text-align: left;
    padding-left: 20px;
    padding-top: 2px;
    padding-bottom: 3px;
    margin-top: 2vh;
}

.section1
{
    padding-top: 2px;
    padding: 5px;
    margin: 5px;
}

.section2
{
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: #387478;
}

.section3
{
    padding: 10px;
    margin: 10px;
}

.section4
{
    margin: 0;
    background-color: #387478;
    height:50px;
    max-height: 50% ;
}