.body-content
{
    margin: auto;
    width: 25%;
    padding: 50px;
    text-align: center;
    border-style: solid;
    border-width: 8px black;
    border-radius: 8px;
}

.body-h1
{
    font-family: 'Times New Roman', Times, serif;
}

.body-email
{
    text-align: left;
    font-family: 'Times New Roman', Times, serif;

}

.input-email
{
        width: 100%; 
        max-width: 400px; 
        min-width: 200px; 
        padding: 5px;
        border: 2px solid #ccc;
        border-radius: 4px;
}

.body-pass
{
    text-align: left;
    font-family: 'Times New Roman', Times, serif;
}

.input-pass
{
        width: 100%; 
        max-width: 400px; 
        min-width: 200px; 
        padding: 5px;
        border: 2px solid #ccc;
        border-radius: 4px;
}

.body-href
{
    width: 100%;
    max-width: 250px;
    min-width: 100px;
    padding: 5px;
    border: 2px solid #ccc;
    border-radius: 4px;
    margin-top: 10px;
    border-style: solid;
    font-family: 'Times New Roman', Times, serif;
}

/* halutama.html */

.halu-body
{
    text-align: center;
    margin: 0;
}

/* Section Nama dan Tombol dkk. */

.halu-atas
{
    background-color: green;
}

.halu-h1
{
    
    background-color: blue;
    text-align: left;
    padding-left: 20px;
    margin-top: 2px;
    
}

.halu-h6
{
    background-color: red;
    text-align: right;
    padding-right: 20px;
    margin-top: 2px;
}

.section1
{
    background-color: aquamarine;
}

.section2
{
    background-color: blueviolet;
}

.section3
{
    background-color: cadetblue;
}

.section4
{
    background-color: cyan;
}